{% extends "@app/views/common/main.twig" %}
{% set title="景区列表" %}
{% block content %}
    <input type="hidden" name="module_url" id="module_url" value="{{ module_url }}">
    <div class="gray_bg">
        <form action="#" method="post">
            <em class="ftd">创建时间</em>
            <input name="xx" type="text" class="pt" id="riqi" autocomplete="off">
            <em class="ftd">经销商</em>
            <select id="distributor_id" name="distributor_id"
                    class="pt" {% if user_info.name != 'admin' %} disabled {% endif %}>
                <option value="-1">全部</option>
                {% for user_id, user_name in distributor_users %}
                    <option value="{{ user_id }}" {% if user_info.name!='admin' and user_info.name == user_name %} selected {% endif %}>{{ user_name }}</option>
                {% endfor %}
            </select>
            <em class="ftd">景区名称</em>
            <select name="scenic_id" class="pt" id="scenic_id">
                <option value="-1">全部</option>
                {% for id, name in scenic_arr %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
            <input type="button" class="chaxun" value="查询" id="search_scenic_list_button">
        </form>
    </div>
    <p class="lh20">&nbsp;</p>
    <div class="mt10">
        {% if 'up' in actions %}
            <a href="javascript:void(0);" class="gbtn mr10" id="uiUpBtn">上架</a>
        {% endif %}
        {% if 'down' in actions %}
            <a href="javascript:void(0);" class="gbtn mr10" id="uiDownBtn">下架</a>
        {% endif %}
        {% if 'force_down' in actions %}
            <a href="javascript:void(0);" class="gbtn mr10" id="uiForceDownBtn">强制下架</a>
        {% endif %}
    </div>
    <p class="lh20">&nbsp;</p>

    <div id="listDiv" class="fixedTab">

        <table border="0" class="ctbl">
            <thead class="thead">
            <tr>
                <th><input type="checkbox" id="ck_tr" autocomplete="off"></th>
                <th>景区名称</th>
                <th>经销商名称</th>
                <th>景区热度</th>
                <th>景区状态</th>
                <th>卖家备注</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="scenic_list_layer">
            </tbody>
        </table>
    </div>
    <div class="page alC">
        <em class="pr10">已选择<span id="checked_count">0</span>条记录,</em>
        <em class="pr10">共<span id="record_count">0</span>条记录，第<span id="page_str">0/0</span>页</em>
        每页<select id='pageSize' onchange="listForm.change_page_size(this.value)">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
        </select>条，
        <a href="javascript:listForm.goto_first_page()">第一页</a><a
                href="javascript:listForm.goto_pre_page()">上一页</a>，到第<input type="text" class="pagei" id="gotoPage"
                                                                            onkeyup="listForm.quick_goto_page(this);">页，<a
                href="javascript:listForm.goto_next_page()">下一页</a><a
                href="javascript:listForm.goto_last_page()">最末页</a>
    </div>

{% endblock %}
{% block js %}
    <script type="text/template" id="scenic_list_template">
        <% _.each(scenic_info, function(item, index) {
        %>
        <tr data-scenic-id="<%=item.id %>">
            <td id="a1"><input type="checkbox" name="ckbox" id="ckbox_<%=item.id%>" value="<%=item.id%>"
                               data-id="<%=item.id%>" data-status="<%=item.status%>"></td>
            <td><%=item.scenic_name%></td>
            <td><%=item.name%></td>
            <td><%=item.hot%></td>
            <td><%=item.status_str%></td>
            <td><%=item.remark%></td>
            <td><%=item.created_at%></td>
            <td>
                <% if($.inArray('up', actions)!=-1 && item.status == 1){ %>
                <a href="javascript:void(0)" class="cblue uiDown" data-id="<%=item.id %>">下架</a>
                <% } %>
                <% if($.inArray('down', actions)!=-1 && (item.status == 0 || item.status == 2)){ %>
                <a href="javascript:void(0)" class="cblue uiUp" data-id="<%=item.id %>">上架</a>
                <% } %>
                <% if($.inArray('force_down', actions)!=-1 && item.status == 1){ %>
                <a href="javascript:void(0)" class="cblue force_down" data-id="<%=item.id %>">强制下架</a>
                <% } %>
            </td>
        </tr>
        <% }); %>
    </script>
    <script>
        var actions = $.parseJSON('{{ actions|json_encode|raw }}')
    </script>

{% endblock %}